body {
    background-color: #F0F0F0;
}

.sign-up-box {
    h2 {
        align-self: center;
    }
    background-color: white;
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
}

input {
    background-color: #F2F2F2;
    font-size: 20px;
    height: 40px;
    border-width: 0px;
}

ul {
    margin-top: 0px;
}

.password-requirement-text {
    margin-bottom: 5px;
}

.sign-up-box-contents {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}